.button-example {
  background-color: var(--c-brand);
  color: white;
  padding: 10px;
  margin: 7px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-example:hover {
  background-color: var(--c-brand-light);
}

.select-example {
  background-color: var(--c-brand);
  color: white;
  padding: 10px;
  margin: 7px;
  border-radius: 4px;
  border: none;
}

.container {
  display: flex; 
  align-items:center; 
  flex-direction: column
}
