.button-example {
  background-color: var(--c-brand);
  color: white;
  padding: 10px;
  margin: 7px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-example:hover {
  background-color: var(--c-brand-light);
}

.checkbox-example {
  width: 15px;
  height: 15px;
}

.input-example {
  appearance: none;
  padding: 7px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  
}
.input-example:focus{
  cursor: auto;
  border-color: var(--search-accent-color);
}

.select-example {
  background-color: var(--c-brand);
  color: white;
  padding: 10px;
  margin: 7px;
  border-radius: 4px;
  border: none;
}

.container {
  display: flex; 
  align-items:center; 
  flex-direction: column
}
