:root{
  --vp-home-hero-image-filter: blur(100px);
  --vp-home-hero-image-background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M952.5 647Q905 794 780 885t-280 91q-155 0-280-91T47.5 647Q0 500 47.5 353T220 115q125-91 280-91t280 91q125 91 172.5 238t0 294Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%2399ecc7%22 d=%22M952.5 647Q905 794 780 885t-280 91q-155 0-280-91T47.5 647Q0 500 47.5 353T220 115q125-91 280-91t280 91q125 91 172.5 238t0 294Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.button-example {
  background-color: var(--vp-c-brand-2);
  color: white;
  padding: 10px;
  margin: 7px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-example:hover {
  background-color: var(--vp-c-brand-1);
}

.checkbox-example {
  width: 15px;
  height: 15px;
}

.input-example {
  appearance: none;
  padding: 7px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  
}
.input-example:focus{
  cursor: auto;
  border-color: var(--vp-c-brand-1);
}

.select-example {
  background-color: var(--vp-c-brand-2);
  color: white;
  padding: 10px;
  margin: 7px;
  border-radius: 4px;
  border: none;
}

.vue-pdf-container {
  display: flex; 
  align-items:center; 
  flex-direction: column
}
