name: publish-npm-package

on: 
  release:
    types:
      - published

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          force-depth: 0
          
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with: 
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: Install packages
        run: npm install

      - name: Test setup
        run: npm run test:setup

      - name: Run tests and build
        run: npm run build

      - name: Publish packages
        working-directory: packages/vue-pdf
        run: npm publish --access public --provenance
       
      
